:host {
    --carousel-btn-bg: rgba(0,0,0,.75);
    --carousel-btn-color: white;
    --carousel-title-font-size: 27px;
    --carousel-subtitle-font-size: 17px;
    --carousel-size-big: 500px;
    --carousel-size-medium: 350px;
    --carousel-size-small: 150px;
    --carousel-size-big-preview: 150px;
    --carousel-size-medium-preview: 70px;
    --carousel-transition-slide-duration: 300ms;
    --carousel-navigation-preview-opacity: 1;
    --carousel-cubic-bezier-material: cubic-bezier(0.4, 0.0, 0.2, 1);
    --carousel-font-size-progression: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--carousel-size-medium);
    height: var(--carousel-size-medium);
    box-shadow: 0px 0px 5px -2px rgb(0 0 0);
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(33 33 33);
}

:host([size='big']) {
    width: var(--carousel-size-big);
    height: var(--carousel-size-big);
}

:host([size='small']) {
    width: var(--carousel-size-small);
    height: var(--carousel-size-small);
}

:host([width]) {
    width: var(--carousel-size-width-custom);
}

:host([height]) {
    height: var(--carousel-size-height-custom);
}

:host([header-above='false']) > header {
    position: relative;
}

:host([header-position='bottom']) > header {
    order: 3;
    bottom: 0;
}

:host(carousel-dotted[header-position='bottom']) > header,
:host(carousel-preview[header-position='bottom']) > header{
    visibility: hidden;
}

:host(:not([title])) > header {
    display: none;
}

:host([subtitle]) > header {
    max-height: 75px;
    height: auto;
}

:host([size='small']) > header {
    position: relative;
    order: 1;
    height: 30px;
    padding: .3em 0 0 .3em;
}

:host([drag]) > aside {
    cursor: grab;
}

:host([drag]):active > aside {
    cursor: grabbing;
}

:host([drag="false"]) > aside {
    cursor: default;
}

#controls{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    z-index: 30;
    cursor: pointer;
    margin: 5px 5px 0 0;
}

#controls > i{
    display: none;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 100%);
    z-index: 30;
    font-weight: bolder;
    user-select: none;
    font-style: normal;
    box-sizing: border-box;
}


:host([fullscreen]) > #controls > i#fullscreen{
    display: flex;
}

:host([fullscreen]) > #controls > i#fullscreen:after{
    display: block;
    content:"\2922";
    cursor: zoom-in;
    line-height: 1em;
}

:host([fullscreen='opened']) > #controls > i#fullscreen:after{
    display: flex;
    content:"\2716";
    cursor: zoom-out;
}

:host([timer]) > #controls > i#timer{
    display: flex;
    background-image: url('./icons/pause.svg');
    background-size: contain;
}

:host([timer='paused']) > #controls > i#timer{
    background-image: url('./icons/play.svg');
}

header {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    height: 25%;
    max-height: 55px;
    padding: 1em 0 0 1em;
    line-height: 1.7em;
    background-color: rgba(255,255,255,.8);
    /* Default above */
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
}

header > span {
    height: auto;
}

/* Titolo */
header > span:first-child {
    font-size: var(--carousel-title-font-size);
}

/* Sottotitolo */
header > span:last-child {
    font-size: var(--carousel-subtitle-font-size);
}

:host([size='small']) header > span:first-child {
    font-size: 20px;
    padding: 0;
    line-height: 1em;
}

:host([size='small']) header > span:last-child {
    display: none;
}

:host[btn='bottom'] > aside {
    bottom: 0;
}

main {
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
    will-change: transform;
    transition: transform var(--carousel-transition-slide-duration);
    transition-timing-function: var(--carousel-cubic-bezier-material);
    z-index: 5;
    max-height: 100%;
    /* background-color: rgb(33 33 33); */
}

main.dragged {
    transition: none;
}

main.dragged ~ aside {
    cursor: grabbing !important;
}

main > * {
    position: relative;
    min-width: 100%;
    box-sizing: border-box;
    /* background-image: url(./img/2.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    /* box-shadow: 0 0 0px 0 white; */
}

aside {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
}

button {
    width: 25px;
    height: 50px;
    background-color: rgb(0 0 0 / 40%);
    text-align: center;
    cursor: pointer;
    color: white;
    user-select: none;
    font-size: 20px;
    transition: opacity 150ms;
    border: 1px solid rgb(250 250 250 / 20%);
}

:host([size='small']) button {
    height: 25px;
}

:host([size='small']) aside {
    align-items: flex-end;
    justify-content: center;
}
button:disabled {
    opacity: .4;
    cursor: not-allowed;
}


footer button:disabled {
    visibility: hidden;
}

footer {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
    z-index: 20;
    box-sizing: border-box;
    opacity: var(--carousel-navigation-preview-opacity);
    background-color: rgb(0 0 0 / 40%);
    justify-content: center;
}

footer.extendable{
    height: 20%;
    transform: translateY(100%);
    transition: transform 300ms var(--carousel-cubic-bezier-material);
    /* transition-delay: 1s; */
    will-change: transform;
}

aside:hover ~ footer.extendable,
footer.extendable:hover{
    transform: translateY(0%);
    transition-delay: 100ms;
}

footer > div {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer > div ol {
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 5px;
    background-color: #9e9e9e;
    border-radius: 50% 50%;
    cursor: pointer;
    transition: background-color 150ms;
}

footer > div ol.selected {
    background-color: white;
}

footer > main .preview {
    width: var(--carousel-size-medium-preview);
    height: calc(100% - 20px);
    padding: 0;
    margin: 5px;
    background-size: cover;
    cursor: pointer;
    transform: scale(1);
    transition: transform 150ms;
}

footer.extendable > main .preview.selected {
    border: 2px solid red;
    box-sizing: border-box;
    transform: scale(0.98);
}

:host([size='big']) > footer > main .preview {
    width: var(--carousel-size-big-preview);
}

:host([width]) > footer > main .preview {
    width: var(--carousel-size-big-preview);
}

:host([size='small']) > footer {
    display: none;
}

footer > main {
    width: auto;
    position: absolute;
    height: 100%;
    align-items: center;
    left: 25px;
}

footer > main * {
    min-width: 50px;
}

footer > aside {
    z-index: 30;
}

footer button {
    background-color: rgb(0 0 0 / 60%);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: inherit;
}

footer button:nth-of-type(2) {
    right: 0;
    left: unset;
}

footer > span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2.3em;
    right: 0;
    background-color: rgb(0 0 0 / 80%);
    color: white;
    font-family: system-ui;
    box-sizing: content-box;
    user-select: none;
    visibility: hidden;
    padding: 0.5em;
    font-size: var(--carousel-font-size-progression);
}

@media screen and (max-width: 600px) {
    
    :host(carousel-preview) footer.extendable{
        height: 0;
    }

    :host(carousel-preview) footer.extendable > main, 
    :host(carousel-preview) footer.extendable > div{
        visibility: hidden;
    }

}

/*@media screen and (max-width:600px) {
    :host{
        --carousel-size-width-custom: 100% !important;
        --carousel-size-height-custom: 70vw !important;
    }
}*/
